body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*-----------------Header CSS----------------------*/
#header
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(htmlcss/pc_screen_lock.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;    
}
.user-box img
{
    border-radius: 45%;
    width: 250px;
    border: 2px solid white;
}
.user-box h1
{
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.user-box p
{
    color: #fff;
}

/*------------------------Navigator---------------------*/
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar
{
    background-color: #000;
}
.navbar-brand img
{
    height: 50px;
}
.nav-bar .fa-bars
{
   font-size: 35px;
    color: #fff;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar-nav
{
    float: right;
    text-align: right;
}
.nav-link
{
    color: #fff !important;
}



/*------------------------About---------------------*/
.about
{
    padding-top: 100px;
    padding-bottom: 50px;
   /* background: #019ad2;*/
}
.profile-img
{
    height: 400px;
}
.continer
{
    margin-bottom: 6px;
    font-weight: 600;
  /*  width: 450px;
    margin: 10px auto 0;*/
    
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar
{
    border-radius: 16px;
    background: black !important;
}
/*.continer li
{
    position:relative;
    list-style: none;
    margin: 25px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.continer li:before
{
    content: "";
    position: absolute;
    top: calc(80% + 8px);
    left: 0;
    width: 100%;
    height: 10px;
    background-color: antiquewhite;
    border-radius: 1000px;
}

.continer li:after
{
    content: "";
    position: absolute;
    top: calc(80% + 8px);
    left: -30;
    width: 0;
    height: 10px;
    background-color: black;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.continer li.html:after
{
    animation-name: html;
}

@keyframes html
{
    to
    {
        width: 75%;
    }
}

.continer li.c:after
{
    animation-name: c;
}

@keyframes c
{
    to
    {
        width: 95%;
    }
}

.continer li.java:after
{
    animation-name: java;
}

@keyframes java
{
    to
    {
        width: 85%;
    }
}

.continer li.python:after
{
    animation-name: python;
}

@keyframes python
{
    to
    {
        width: 40%;
    }
}*/

/*-----------------Resume------------------*/

.resume
{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    background: #f9f9f9;
}
.resume h3
{
    margin-bottom: 50px;
}
.timeline
{
    list-style-type: none;
    position: relative;
}
.timeline:before
{
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li
{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background: #fff;
}
.timeline li h4
{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}
.timeline li:before
{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

/*-----------------------------Contact--------------------------------*/
.contact
{
    margin-top: 20px;
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(htmlcss/background4.jpg);
    background-position:bottom;
    background-size:contain;
    background-attachment: fixed;  
    color: #fff;
}
.contact .row
{
    padding: 10px 0;
    font-size: 16px;
}
.contact .col-md-4 .fa
{
    padding: 10px;
    font-size: 30px;
}
.contact .btn
{
    padding: 10px 25px 10px 25px;
margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent; 
}
.contact .btn:focus
{
    box-shadow: none !important;
}
.contact .btn:hover
{
    border: 2px solid #000 !important;
    background: #000 !important;
    transition: 0.6s;
}
.contact .btn .fa
{
    margin-right: 10px;
}

/*------------------------Social-icons---------------------------------*/
.social-icons
{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
} 
.social-icons ul
{
    padding: initial;
}
.social-icons ul li
{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #000;
}
.social-icons ul li:hover
{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}








